<!DOCTYPE html>
<html>
  <head>
    {{- range .Headers -}}
      {{- if eq .Type "title" -}}
        {{"\n      "}}<title>{{ .Value }}</title>
      {{- end -}}
      {{- if eq .Type "css" -}}
        {{"\n      "}}<link rel="stylesheet" href="{{ .Value }}">
      {{- end -}}
      {{- if eq .Type "js" -}}
        {{"\n      "}}<script src="{{ .Value }}"></script>
      {{- end -}}
    {{- end}}
    <script>
      let page_info = {
        lang: "{{ .Lang }}"
      }
    </script>
  </head>
  <body>
    <div class="main-container">
      <div id="explanation-link-wrapper">
        <a href="/">{{ .Explanation_link_text}}</a>
      </div>
      <div class="main-content">
        {{.Content}}
      </div>
      <img id="fastaval-logo" src="/public/img/logo-plain-text.png">
      <div id="signature">
        Created by Mikkel Westh (Fastaval IT)
      </div>
    </div>
    <div id="long-explanation">
      <div class="text-dialog">
        <h2>{{ .Explanation_link_text}}</h2>
        <p>{{ .Long_explanation }}</p>
      </div>
    </div>
  </body>
</html>