<rect id="thick-bar" x="0" y="0" width="38" height="100%" fill="{{ .fill_color }}" />
<polygon fill="{{ .background }}" transform="scale(19, 19)  translate(.75, 5)" points="-1,0 0,1 1,0 0,-1 "></polygon>