<rect id="thick-bar" x="0" y="0" width="42" height="100%" fill="{{ .fill_color }}" />
<polygon fill="{{ .background }}" transform="scale(16, 16)  translate(1.31, 2.62)" points="-1,0 0,1 1,0 0,-1 "></polygon>