:root {
  --body-background: orange;
  --content-background: white;
  --highlight-color: orange;
  --subtle-color: grey;
  --text-color: black;

  --rounding: .5rem;
  --ribbon-height: 2rem;
  --ribbon-width: calc(var(--ribbon-height)/85*250);
}